body{
  background-color: #F6FCFF;
  padding: 0;
  margin:0;
  font-family: "Roboto";
}

a, nav button{
  text-decoration: none;
  background-color: transparent;
  border: none;
  color:#000;
  transition: .4s;
  font-size: 1em;
  cursor: pointer;
  font-family: "Montserrat";
}

.error{
  margin-top: .9em;
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 5px;
  border-radius: 5px;
}